<div class="container">
   <!-- <div class="notification">
      <div class="columns is-desktop half-mobile
         is-one-quarter-tablet is-half-desktop is-half-widescreen
         is-half-fullhd">

         <div class="column">
            <div class="card">
               <div class="card-content btn" routerLink="/alumnos">
                  <p class="title">
                     Alumnos
                  </p>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
               <div class="card-content" routerLink="/asistencia">
                  <p class="title">
                     Asistencia
                  </p>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
               <div class="card-content" routerLink="/asistencia">
                  <p class="title">
                     Asistencia
                  </p>
               </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
               <div class="card-content" routerLink="/grupos">
                  <p class="title">
                     Grupos
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div> -->
   <div class="tabs is-centered is-boxed is-medium">
      <ul>
         <li class="is-active" routerLink="/home">
            <a>
               <span class="icon is-small"><i class="fas fa-home"
                     aria-hidden="true"></i></span>
               <span>Home</span>
            </a>
         </li>
         <li routerLink="/alumnos">
            <a>
               <span class="icon is-small"><i class="fas fa-music"
                     aria-hidden="true"></i></span>
               <span>Alumnos</span>
            </a>
         </li>
         <li routerLink="/rfid">
            <a>
               <span class="icon is-small"><i class="fas fa-music"
                     aria-hidden="true"></i></span>
               <span>RFID</span>
            </a>
         </li>
         <li routerLink="/asistencia">
            <a>
               <span class="icon is-small"><i class="fas fa-film"
                     aria-hidden="true"></i></span>
               <span>Asistencia</span>
            </a>
         </li>
         <li routerLink="/grupos">
            <a>
               <span class="icon is-small"><i class="far fa-file-alt"
                     aria-hidden="true"></i></span>
               <span>Grupos</span>
               </a>
            </li>
         </ul>
      </div>
      <!-- Table -->
      <div class="columns">
         <div class="column">
            <table class="table">
               <thead>
                  <tr>
                     <th><abbr><Strong>#</Strong></abbr></th>
                     <th><Strong>Nombre</Strong></th>
                     <th><abbr><Strong>Matricula</Strong></abbr></th>
                     <th><abbr><Strong>Asignado a RFID</Strong></abbr></th>
                  </tr>
               </thead>
               <tfoot>
                  <tr>
                     <th>1</th>
                     <th>Talox</th>
                     <th>181266</th>
                     <th>False</th>

                  </tr>
               </tfoot>
            </table>
         </div>

         <div class="column">
            <table class="table">
               <thead>
                  <tr>
                     <th><abbr><Strong>#</Strong></abbr></th>
                     <th><Strong>Numero RFID</Strong></th>
                     <th><abbr><Strong>Asignado a Alumno</Strong></abbr></th>
                  </tr>
               </thead>
               <tfoot>
                  <tr>
                     <th>1</th>
                     <th>1812xcxcbas12366</th>
                     <th> False </th>

                  </tr>
               </tfoot>
            </table>
         </div>
      </div>
   </div>
