<div class="container">

   <div class="notification">
      <div class="columns is-desktop half-mobile
         is-one-quarter-tablet is-half-desktop is-half-widescreen
         is-half-fullhd">

         <div class="columns">

            <div class="column">
               <h1 class="title">Lista de RFID</h1>
               <table class="table">
                  <thead>
                     <tr>
                        <th><abbr><Strong>#</Strong></abbr></th>
                        <th><Strong>Numero RFID</Strong></th>

                        <th><abbr><Strong>Status</Strong></abbr></th>
                        <th><abbr><Strong>Asignado a Alumno</Strong></abbr></th>
                     </tr>
                  </thead>
                  <tfoot>
                     <tr *ngFor="let rfid of rfids">
                        <th> {{rfid.id}} </th>
                        <th> {{rfid.number_rfid}} </th>

                        <th> {{rfid.status}} </th>
                        <th> {{rfid.status}} </th>

                     </tr>
                  </tfoot>
               </table>
            </div>
            <div class="column">
               <h1 class="title">Registrar RFID</h1>
               <div class="field">
                  <div class="control">
                     <form [formGroup]="registerForm"
                        (ngSubmit)="registrarRFID()">
                        <label class="label">Numero de RFID</label>
                        <input
                           [(ngModel)]="rfidService.selectedRFID.number_rfid"
                           class="input is-primary" type="text"
                           placeholder="Num _ RFID"
                           formControlName="number_rfid">
                        <button type="submit" class="button is-success"
                           style="margin-top:
                           5px;"> Registrar</button>
                     </form>
                  </div>

               </div>
               <!-- <button class="button is-succes" (click)="enviarMsj()">Enviar msj a socket</button>
                  <button class="button is-succes" (click)="enviarMsj()">Ejecutar prueba 2</button>
                  <button class="button is-succes" (click)="enviarMsj()">Ejecutar prueba 3</button>
                  <button class="button is-succes" (click)="enviarMsj()">Ejecutar prueba 4</button> -->
            </div>
         </div>
      </div>